@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap');
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    

}
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: var(--nav-height); */
    z-index: 99;
    /* background-color: #1C1A2F; */
    /* margin-bottom: 500px; */

}

.nav-link {
    /* height: var(--nav-height); */
    font-size: 20px;
    line-height: 2.5 rem;
    font-weight: 400 !important;
    transition: 0.5s;
}
.signinbtn {
    position: absolute;
    top: 7px;
    right: -110vh;
    background: rgb(255, 255, 255);
    height: 35px;
    box-sizing: initial;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
}

.footer-distributed {
    background-color: #1C1A2F;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 10px 50px;
    bottom: 0;
    /* margin-top: 10vh;  */
    /* position: relative; */
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b75;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
    margin-top: 6%;

}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

